body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #afb3b7;
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: rgba(13, 31, 35, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 650px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 30px;
  margin-bottom: 10px;
  display: inline;
}

#time {
  margin-left: 70px;
}

#dateTimeMilady,
#dateTimeHijry {
  font-size: 20px;
  /* margin-bottom: 60px; */
  color: #afb3b7;
}

.prayer-times {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.prayer-time-box {
  background-color: #2d4a53;
  padding: 10px;
  border-radius: 5px;
  color: #afb3b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.prayer-name,
.prayer-time,
.time-difference {
  flex: 1;
  text-align: center;
}

.prayer-name {
  font-size: 20px;
}

.prayer-time {
  font-size: 20px;
  color: #afb3b7;
}

.time-difference {
  font-size: 18px;
  color: #b51a2b;
}

.footer {
  margin-top: 40px;
  font-size: 20px;
  color: #afb3b7;
}
