body {
  background-color: #132e35;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #afb3b7;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.container {
  width: 95%;
  height: 95%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #0d1f23;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 27px;
  margin-bottom: 10px;
}

#datetimemilady,
#datetimehijry {
  font-size: 27px;
  margin-bottom: 60px;
  color: #afb3b7;
}

.prayer-times {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 20px 0;
}

.prayer-time-box {
  background-color: #2d4a53;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  color: #afb3b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prayer-time-box div {
  flex: 1;
  text-align: center;
}

.prayer-time-box .prayer-name {
  font-size: 20px;
}

.prayer-time-box .prayer-time {
  font-size: 20px;
  color: #afb3b7;
}

.prayer-time-box .time-difference {
  font-size: 18px;
  color: #b51a2b;
  width: 150px;
}

.footer {
  margin-top: 20px;
  font-size: 20px;
  color: #afb3b7;
}
